


body {
    background: #fff;
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  }
  h3{
text-align: center;
  
  }
  input, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
  }
  
  .main-div, .loggedin-div {
    width: 25%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    display: none;
  }
  
  .main-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  .main-div input:focus {
    border: 1px solid #777;
    text-align:left
  }
  
  .main-div button, .loggedin-div button {
    background: darkblue;
    color: #fff;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  .main-div button:hover, .loggedin-div button:hover {
    background: #fff;
    color: darkblue;
    border: 1px solid darkblue;
    cursor: pointer;
  }
  
