


body {
    background:url(img/games.jpg);
     justify-content: center;
  }
  .container {
    text-align: center;
    width: 400px;
    margin: 50px auto;
    justify-content: center;
    padding: 20px;
    color: darkblue;
    /* border: 2px solid red; */
    font-family: arial;
    font-size: 16px;

    background-color: white;
    border-radius: 20px;
  }
  h2 {
    text-align: center;
  }
  .container div {
    text-align: center;
    justify-content: center;


  }
  input {
    width: 250px;
    padding: 5px;
  }
  button {
    width: 70px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    background-color: darkblue;
    border: none;
    color: white;
    border-radius: 10px;
    background: #fff;
    color: darkblue;
    border: 1px solid darkblue;
    cursor: pointer;
  }
  .main-div, .loggedin-div {
    width: 20%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    display: none;
  }
  
  .main-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  .main-div input:focus {
    border: 1px solid #777;
  }
  
  .main-div button, .loggedin-div button {
    background: #5d8ffc;
    color: #fff;
    border: 1px solid #5d8ffc;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  
  .main-div button:hover, .loggedin-div button:hover {
    background: #fff;
    color: #5d8ffc;
    border: 1px solid #5d8ffc;
    cursor: pointer;
  }
  
  